<header class="hero">
  <div class="wrapper">
    <div class="content">
      <h1>Matthew Bush</h1>
      <img class="logo" src="assets/images/matt.jpg" />
      <h3>
        Digital product designer passionate about building products that customers love, are technologically sound, and deliver on business objectives — fanatically accruing feedback from all parties along the way.
      </h3>
      <section class="contact">
          <ul class="social-media-list">
            <li><a target="_blank" href="/assets/resume.pdf">Resume</a></li>
            <li>&#x2022;</li>
            <li><a href="mailto:{{ site.email }}">Email</a></li>
            <li>&#x2022;</li>
            <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
          </ul>
          <p>Please contact for updated work examples.</p>
      </section>
    </div>
  </div>
</header>
