<header class="hero">
  <div class="wrapper">
      <div class="content">
      <h1><span>MATTHEW</span>BUSH</h1>
      <img class="logo" src="assets/images/matt.jpg" />
      <h3>I'm a <span>software designer</span> and <span>developer</span> based in Chicago.</h3>
      <h3>Currently practicing both as <span>Director of Design</span> at <span><a href="http://getprovi.com">Provi</a></span></h3>
    </div>
  </div>
  <div class="bounce">
  	{% include icons/arrow-down.html %}
  </div>
</header>
