<section class="resume">
	<div class="wrapper">
		<header class="section-header">
			<h1>Resume</h1>
		</header>            
			<h2>EXPERIENCE</h2>

			<h3>Software Engineer <span>at Trunk Club</span><span class="pull-right"> October 2013 - Present</span></h3>    
			<ul>
			<li>Design and develop interfaces for both internal and client facing experiences</li>
			<li>Produce web and iOS applications using Backbone.js and Objective-C / Swift</li>
			<li>Rapidly prototype and test product variations to drive analytical experience decisions</li>
			<li>Ensure all product experiences create a cohesive ecosystem for users</li>
			</ul>
			<h3>Information Architect <span>at Razorfish</span><span class="pull-right"> June 2013 - October 2013</span></h3>
			<ul>
			  <li>Employ user-centered design practices for a fortune 50 financial services company</li>
			  <li>Design rich, data heavy web-based application experiences</li>
			  <li>Perform research and analysis to influence data-driven design choices</li>
			  <li>Implement agile methodology for quick iteration and testing</li>
			</ul>

			<h3>Web Team Manager <span>at The State News</span><span class="pull-right"> September 2012 - May 2013</span></h3>
			<h3>Web Developer<span class="pull-right">May 2012 - September 2012</span></h3>
			<ul>
			  <li>Plan and design information architecture, wireframes, design documents</li>
			  <li>Develop websites/web-apps using HTML5, LESS, JavaScript, Twig</li>
			  <li>Manage projects for State News web development initiatives as well as several other universities</li>
			  <li>Oversee student web team</li>
			</ul>

			<h3>User Experience Designer <span>at MSU College of Arts and Letters</span><span class="pull-right"> May 2012 - 
			September 2012</span></h3>
			<ul>
			  <li>Plan, design, and develop university web applications</li>
			  <li>Make analytics driven user interaction decisions on current web applications</li>
			  <li>Work closely with designers, developers, and content creators to produce a seamless user experience</li>
			</ul>

			<h3>Lead UX Analyst <span>at RHS Marketing Communications</span><span class="pull-right"> May 2011 - 
			May 2012</span></h3>
			<ul>
			  <li>Develop, test, and report heuristic evaluations for user experience on websites for specific user bases</li>
			  <li>Measure and report on web analytics for user/brand specific websites</li>
			  <li>Generate and manage web content for user-based web applications</li>
			</ul>

			<h2>EDUCATION</h2>
			<h3>Bachelor of Arts in Digital &amp Technical Writing &bull; Design Specialization</h3>
			<h3>Michigan State University &bull; 2013</h3>
			  <ul>
			      <li>Dean's List Fall 2010 - Spring 2013</li>
			      <li>Cognates in design and telecommunications</li>
			  </ul>

			<h2>TECHNICAL SKILLS</h2>
			  <ul>
			      <li>UI ( Swift | Objective-C | HTML | CSS | SASS | JavaScript | jQuery | CoffeeScript | Git )</li>
			      <li>UX  User Research/Testing | Wireframing | Prototyping | Information Architecture | Analytics )</li>
			      <li>Graphic Design ( Sketch | Photoshop | Illustrator | Photo Capturing and Editing )</li>
			      <li class="star">Willing and able to learn new concepts and technologies</li>
			  </ul> 
	</div>	           
</section>
