/**
 * Site header
 */
.hero {
	background: url('../assets/images/hero.jpg');
	background-size: cover;
	text-align: center;
	color: $white;
	@extend .flex-aligner;
	.wrapper {
		width: 600px + $spacing-unit;
	    margin: auto;
	}
	.content {
		padding: $spacing-unit / 2;
		@extend .flex-aligner-item;
		@extend .flex-aligner-item--fixed;
	}
	h1 {
		font-size: $xxlarge-font-size;
		font-family: $base-font-family;
		font-weight: 300;
		line-height: 1.0;
		span {
			font-family: $base-font-family-xlight;
		}
	}
	h3 {
		font-size: $large-font-size;
		font-family: $base-font-family-xlight;
		letter-spacing: 1.0px;
		line-height: 1.25;
		span {
			font-family: $base-font-family;
		}
		a {
			border-bottom: 2px dotted $white;
		}
	}
	.logo {
		height: 150px;
		width: 150px;
		border-radius: 100%;
		border: 2px solid $grayLight;
		margin: $spacing-unit auto;
	}
	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}
}
